 .u-section-1 {
  background-image: url("images/home.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-group-1 {
  width: 558px;
  min-height: 422px;
  height: auto;
  margin: -19px -61px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6.25rem;
  margin: 9px 49px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -13px 48px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 515px;
  margin: 35px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 57px auto 0 29px;
}

.u-section-2 .u-image-1 {
  width: 62px;
  height: 62px;
  margin: -77px auto 0 38px;
}

.u-section-2 .u-shape-2 {
  width: 788px;
  --radius: 10px;
  height: 80px;
  background-image: none;
  margin: -65px auto 0 161px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -77px 886px 0 157px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 0 auto 0 167px;
}

.u-section-2 .u-btn-1 {
  --radius: 2px;
  background-image: none;
  margin: -38px 62px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.3126em;
}

.u-section-2 .u-shape-3 {
  width: 788px;
  --radius: 10px;
  height: 80px;
  background-image: none;
  margin: 59px auto 0 161px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -80px auto 0 170px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 1px auto 0 170px;
}

.u-section-2 .u-shape-4 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: -55px 1031px 0 29px;
}

.u-section-2 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: -72px auto 0 38px;
}

.u-section-2 .u-btn-2 {
  --radius: 2px;
  background-image: none;
  margin: -58px 61px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.3126em;
}

.u-section-2 .u-shape-5 {
  width: 788px;
  --radius: 10px;
  height: 80px;
  background-image: none;
  margin: 65px auto 0 161px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -75px auto 0 170px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: -1px 679px 0 157px;
}

.u-section-2 .u-shape-6 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: -57px 1031px 0 29px;
}

.u-section-2 .u-image-3 {
  width: 58px;
  height: 58px;
  margin: -69px auto 0 42px;
}

.u-section-2 .u-btn-3 {
  --radius: 2px;
  background-image: none;
  margin: -59px 62px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.3126em;
}

.u-section-2 .u-shape-7 {
  width: 788px;
  --radius: 10px;
  height: 80px;
  background-image: none;
  margin: 59px auto 0 161px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -76px auto 0 170px;
}

.u-section-2 .u-shape-8 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: -36px auto 0 29px;
}

.u-section-2 .u-btn-4 {
  --radius: 2px;
  background-image: none;
  margin: -65px 62px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-icon-4 {
  font-size: 1.3126em;
}

.u-section-2 .u-image-4 {
  width: 57px;
  height: 57px;
  margin: -53px auto 0 43px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: -32px auto 60px 170px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-2 {
    margin-top: 20px;
    margin-left: 152px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 786px;
    margin-left: 57px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 152px;
  }

  .u-section-2 .u-shape-4 {
    margin-right: 860px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 152px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 579px;
    margin-left: 57px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 20px;
    margin-right: 860px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-7 {
    margin-left: 152px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 623px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 20px;
    margin-right: 640px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -74px;
    margin-left: 8px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -56px;
  }

  .u-section-2 .u-shape-5 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 416px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-6 {
    margin-right: 640px;
  }

  .u-section-2 .u-shape-7 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-8 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-top: -65px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 443px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -38px;
  }

  .u-section-2 .u-shape-3 {
    width: 540px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -55px;
    margin-right: 460px;
  }

  .u-section-2 .u-shape-5 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 236px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -57px;
    margin-right: 460px;
  }

  .u-section-2 .u-shape-7 {
    width: 540px;
  }

  .u-section-2 .u-shape-8 {
    margin-top: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 243px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 105px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 107px;
  }

  .u-section-2 .u-shape-4 {
    margin-right: 260px;
  }

  .u-section-2 .u-shape-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 36px;
  }

  .u-section-2 .u-shape-6 {
    margin-right: 260px;
  }

  .u-section-2 .u-shape-7 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 914px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 775px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 74px auto 0 1px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  font-style: italic;
  margin: 1px 57px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 775px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1869px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 9px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 568px;
}

.u-section-4 .u-text-1 {
  margin: 18px 725px 0 13px;
}

.u-section-4 .u-shape-1 {
  width: 268px;
  --radius: 10px;
  height: 413px;
  background-image: none;
  margin: 18px auto 0 10px;
}

.u-section-4 .u-shape-2 {
  width: 229px;
  height: 42px;
  --radius: 10px;
  margin: -393px auto 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.1875rem;
  margin: -36px 939px 0 40px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 27px 866px 0 14px;
}

.u-section-4 .u-group-1 {
  width: 268px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 413px;
  margin: -185px 284px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-4 .u-shape-3 {
  width: 229px;
  height: 42px;
  --radius: 10px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.1875rem;
  margin: -36px 27px 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 31px -6px 0 6px;
}

.u-section-4 .u-shape-4 {
  width: 268px;
  --radius: 10px;
  height: 413px;
  background-image: none;
  margin: -413px auto 0 302px;
}

.u-section-4 .u-shape-5 {
  width: 234px;
  height: 42px;
  --radius: 10px;
  margin: -393px auto 0 317px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.1875rem;
  margin: -36px 592px 0 319px;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 26px 570px 0 310px;
}

.u-section-4 .u-shape-6 {
  width: 268px;
  --radius: 10px;
  height: 413px;
  background-image: none;
  margin: -211px 0 0 auto;
}

.u-section-4 .u-shape-7 {
  width: 229px;
  height: 42px;
  --radius: 10px;
  margin: -393px 20px 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 1.1875rem;
  margin: -36px 31px 0 903px;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 26px 0 60px 875px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 779px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 680px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-shape-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 492px;
    margin-left: 219px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 470px;
    margin-left: 210px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 734px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 775px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 317px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 559px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 460px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 382px;
    margin-left: 109px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 360px;
    margin-left: 100px;
  }

  .u-section-4 .u-shape-6 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 514px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 555px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 379px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 280px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -185px;
    margin-right: 272px;
  }

  .u-section-4 .u-shape-4 {
    margin-top: -413px;
    margin-left: 272px;
  }

  .u-section-4 .u-shape-5 {
    margin-left: 306px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 292px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 270px;
    margin-left: 10px;
  }

  .u-section-4 .u-shape-6 {
    margin-top: -211px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 334px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 80px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 72px;
  }

  .u-section-4 .u-shape-4 {
    margin-left: 72px;
  }

  .u-section-4 .u-shape-5 {
    margin-left: 106px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 80px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 134px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 175px;
  }
}